In [ ]:
<img src='Data/ERD.png'>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

# connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
# engine = create_engine(connection)

In [ ]:
import json
with open('/Users/sherlin01/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Chinook"
engine = create_engine(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

### What is the most a customer has spent on a single purchase and what is their customerId?

In [ ]:
q = '''customerid, Total
        FROM Invoice
        ORDER BY Total DESC
        LIMIT 1'''
pd.read_sql(q,engine)

In [ ]:
q = '''SELECT MAX(Total), customerid
        FROM Invoice
        GROUP BY customerid
        ORDER BY MAX(Total) DESC
        LIMIT 1'''
pd.read_sql(q,engine)

### What country is the customer with the largest total bill from (from question 2)?

In [ ]:
q = '''SELECT 
    I.customerId, I.Total, C.country
FROM
    Invoice
        JOIN
    customer C ON I.CustomerId = C.CustomerId
ORDER BY Total DESC
LIMIT 1; '''
pd.read_sql(q,engine)

### Which customerID made the fewest purchases (invoices)?

In [ ]:
q= '''SELECT customerId, COUNT(*) as num_purchases
FROM INVOICE GROUP BY customerId
ORDER BY num_purchases ASC
LIMIT 1'''
pd.read_sql(q,engine)

### Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?

In [ ]:
q= '''SELECT 
    pt.trackId, t.Name, COUNT(*)
FROM
    Playlist p
        JOIN
    PlaylistTrack pt ON p.PlaylistId = pt.PlaylistID
        JOIN
    Track t ON pt.TrackId = t.TrackId
GROUP BY pt.TrackId
HAVING COUNT(*) > 4
ORDER BY COUNT(*) DESC'''
pd.read_sql(q,engine)