<img src='../Data/ERD.png'>

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

# connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
# engine = create_engine(connection)

In [2]:
import json
with open('/Users/sherlin01/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Chinook"
engine = create_engine(connection)

In [4]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

### Show the Tables

In [5]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

   Tables_in_chinook
0              Album
1             Artist
2           Customer
3           Employee
4              Genre
5            Invoice
6        InvoiceLine
7          MediaType
8           Playlist
9      PlaylistTrack
10             Track

### 1. What is the most a customer has spent on a single purchase and what is their customerId?

In [6]:
q = '''SELECT customerid, Total
        FROM Invoice
        ORDER BY Total DESC
        LIMIT 1'''
pd.read_sql(q,engine)

   customerid  Total
0           6  25.86

In [7]:
q = '''SELECT MAX(Total), customerid
        FROM Invoice
        GROUP BY customerid
        ORDER BY MAX(Total) DESC
        LIMIT 1'''
pd.read_sql(q,engine)

   MAX(Total)  customerid
0       25.86           6

### 2. What country is the customer with the largest total bill from (from question 1)?

In [8]:
q = '''SELECT 
    I.customerId, I.Total, C.country
FROM
    Invoice I
        JOIN
    customer C ON I.CustomerId = C.CustomerId
ORDER BY Total DESC
LIMIT 1; '''
pd.read_sql(q,engine)

   customerId  Total         country
0           6  25.86  Czech Republic

### 3. Which customerID made the fewest purchases (invoices)?

In [9]:
q= '''SELECT customerId, COUNT(*) as num_purchases
FROM INVOICE GROUP BY customerId
ORDER BY num_purchases ASC
LIMIT 1'''
pd.read_sql(q,engine)

   customerId  num_purchases
0          59              6

### 4. Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?

In [16]:
q= '''SELECT 
    t.trackId, t.Name, COUNT(*)
FROM
    Track t
        JOIN
    PlaylistTrack pt ON t.TrackId = pt.TrackId
GROUP BY pt.TrackId
HAVING COUNT(*) > 4
ORDER BY COUNT(*) DESC'''
pd.read_sql(q,engine)

    trackId                                               Name  COUNT(*)
0      3403                             Intoitus: Adorate Deum         5
1      3404                                 Miserere mei, Deus         5
2      3408  Aria Mit 30 Veränderungen, BWV 988 "Goldberg V...         5
3      3409  Suite for Solo Cello No. 1 in G Major, BWV 100...         5
4      3410  The Messiah: Behold, I Tell You a Mystery... T...         5
5      3411  Solomon HWV 67: The Arrival of the Queen of Sheba         5
6      3415      Symphony No.5 in C Minor: I. Allegro con brio         5
7      3416                                          Ave Maria         5
8      3417   Nabucco: Chorus, "Va, Pensiero, Sull'ali Dorate"         5
9      3418             Die Walküre: The Ride of the Valkyries         5
10     3421  Nimrod (Adagio) from Variations On an Original...         5
11     3423                    Jupiter, the Bringer of Jollity         5
12     3424                   Turandot, Act III, Nessun dorma!         5
13     3426                          Carmina Burana: O Fortuna         5
14     3430  Toccata and Fugue in D Minor, BWV 565: I. Toccata         5
15     3432  Scheherazade, Op. 35: I. The Sea and Sindbad's...         5
16     3434  Concerto for Piano No. 2 in F Minor, Op. 21: I...         5
17     3435    Cavalleria Rusticana  Act  Intermezzo Sinfonico         5
18     3436  Karelia Suite, Op.11: 2. Ballade (Tempo Di Men...         5
19     3437  Piano Sonata No. 14 in C Sharp Minor, Op. 27, ...         5
20     3438                           Fantasia On Greensleeves         5
21     3439              Das Lied Von Der Erde, Von Der Jugend         5
22     3442  Wellington's Victory or the Battle Symphony, O...         5
23     3444   Romeo et Juliette: No. 11 - Danse des Chevaliers         5
24     3445                       On the Beautiful Blue Danube         5
25     3446  Symphonie Fantastique, Op. 14: V. Songe d'une ...         5
26     3447                                   Carmen: Overture         5
27     3448  Lamentations of Jeremiah, First Set  Incipit L...         5
28     3449  Music for the Royal Fireworks, HWV351 (1749): ...         5
29     3451  Die Zauberflöte, K.620: "Der Hölle Rache Kocht...         5
30     3454  Symphony No. 41 in C Major, K. 551, "Jupiter":...         5
31     3481  A Midsummer Night's Dream, Op.61 Incidental Mu...         5
32     3482    Suite No. 3 in D, BWV 1068: III. Gavotte I & II         5
33     3485  Symphony No. 3 Op. 36 for Orchestra and Sopran...         5
34     3489                Symphony No. 2: III. Allegro vivace         5
35     3490          Partita in E Major, BWV 1006A: I. Prelude         5
36     3492                                      Sing Joyfully         5
37     3493                           Metopes, Op. 29: Calypso         5
38     3498  Concerto for Violin, Strings and Continuo in G...         5
39     3499  Pini Di Roma (Pinien Von Rom)  I Pini Della Vi...         5
40     3503                                      Koyaanisqatsi         5

### 5. Retrieve the trackId, album title and artist name where the artist is Aerosmith

In [23]:
q= '''SELECT 
    t.trackId, a.title,  ar.Name
FROM
    Track t
        JOIN
    Album a ON t.trackId = a.AlbumId
    JOIN
    Artist ar ON a.albumId = ar.artistId
    WHERE ar.Name = 'Aerosmith';'''
pd.read_sql(q,engine)

   trackId              title       Name
0        3  Restless and Wild  Aerosmith